
build/main/base_library.zip
.apicache
.ropeproject/config.py
.ropeproject/globalnames
.ropeproject/history
.ropeproject/objectdb
.wallpaper.jpg
__pycache__/wallapp.cpython-37.pyc
build/main/Analysis-00.toc
build/main/EXE-00.toc
build/main/localpycos/pyimod01_os_path.pyc
build/main/localpycos/pyimod02_archive.pyc
build/main/localpycos/pyimod03_importers.pyc
build/main/localpycos/struct.pyo
build/main/PKG-00.pkg
build/main/PKG-00.toc
build/main/PYZ-00.pyz
build/main/PYZ-00.toc
build/main/Tree-00.toc
build/main/Tree-01.toc
build/main/warn-main.txt
build/main/xref-main.html
build/wallapp/Analysis-00.toc
build/wallapp/base_library.zip
build/wallapp/EXE-00.toc
build/wallapp/PKG-00.pkg
build/wallapp/PKG-00.toc
build/wallapp/PYZ-00.pyz
build/wallapp/PYZ-00.toc
build/wallapp/Tree-00.toc
build/wallapp/Tree-01.toc
build/wallapp/warn-wallapp.txt
build/wallapp/xref-wallapp.html
dist/.wallpaper.jpg
dist/wallhavener
feh-blur-wallpaper/
icon.ico
main.spec
readme.txt
wall-collector.py
wall.jpg
wallapp.spec
Wallpapers/wallhaven-0j8zqm.jpg
Wallpapers/wallhaven-0pvyop.jpg
Wallpapers/wallhaven-132m93.jpg
Wallpapers/wallhaven-13l39v.png
Wallpapers/wallhaven-2e2mvg.jpg
Wallpapers/wallhaven-3979jd.jpg
Wallpapers/wallhaven-43pegy.jpg
Wallpapers/wallhaven-458863.jpg
Wallpapers/wallhaven-4dmk6g.jpg
Wallpapers/wallhaven-4v8d6m.jpg
Wallpapers/wallhaven-4v9ml0.jpg
Wallpapers/wallhaven-4vdp88.jpg
Wallpapers/wallhaven-4vo5l5.jpg
Wallpapers/wallhaven-4xldjd.jpg
Wallpapers/wallhaven-5w6w69.jpg
Wallpapers/wallhaven-5wml17.jpg
Wallpapers/wallhaven-5wpgy5.jpg
Wallpapers/wallhaven-6k5l5w.jpg
Wallpapers/wallhaven-6q3dgl.jpg
Wallpapers/wallhaven-73l29v.jpg
Wallpapers/wallhaven-73lyjy.png
Wallpapers/wallhaven-73m3ey.jpg
Wallpapers/wallhaven-73xpde.png
Wallpapers/wallhaven-839vgo.png
Wallpapers/wallhaven-83jq8j.jpg
Wallpapers/wallhaven-9697jd.png
Wallpapers/wallhaven-96e6kk.png
Wallpapers/wallhaven-dgklll.jpg
Wallpapers/wallhaven-dgvg2m.png
Wallpapers/wallhaven-g82mmq.png
Wallpapers/wallhaven-g87vl7.png
Wallpapers/wallhaven-g8dl57.png
Wallpapers/wallhaven-gjmx2q.jpg
Wallpapers/wallhaven-j5dvww.jpg
Wallpapers/wallhaven-j83kw5.png
Wallpapers/wallhaven-kwdqem.jpg
Wallpapers/wallhaven-lm2ypp.jpg
Wallpapers/wallhaven-lmdvzq.png
Wallpapers/wallhaven-lmgzgr.png
Wallpapers/wallhaven-mdg8w8.jpg
Wallpapers/wallhaven-mdo93m.jpg
Wallpapers/wallhaven-mdop9k.png
Wallpapers/wallhaven-oxjmy9.jpg
Wallpapers/wallhaven-q6mkdd.jpg
Wallpapers/wallhaven-r2eo71.jpg
Wallpapers/wallhaven-r2w2pj.png
Wallpapers/wallhaven-vg3g18.jpg
Wallpapers/wallhaven-vg3gj8.jpg
Wallpapers/wallhaven-vgd8jm.jpg
Wallpapers/wallhaven-vmdgvl.jpg
Wallpapers/wallhaven-wy32w7.png
Wallpapers/wallhaven-wy3wj6.jpg
Wallpapers/wallhaven-wywqqq.jpg
Wallpapers/wallhaven-xl9e83.jpg
Wallpapers/wallhaven-ymwmo7.png
*.png
*.jpg
*.mp3
*.ini
