
*.pyc
*.pyo
*.jpg
*.pyz
*.pkg
*.html
*.ico
.apicache
.ropeproject/config.py
.ropeproject/globalnames
.ropeproject/history
.ropeproject/objectdb
build/main/Analysis-00.toc
build/main/base_library.zip
build/main/EXE-00.toc
build/main/PKG-00.toc
build/main/PYZ-00.toc
build/main/Tree-00.toc
build/main/Tree-01.toc
build/main/warn-main.txt
build/wallapp/Analysis-00.toc
build/wallapp/base_library.zip
build/wallapp/EXE-00.toc
build/wallapp/PKG-00.toc
build/wallapp/PYZ-00.toc
build/wallapp/Tree-00.toc
build/wallapp/Tree-01.toc
build/wallapp/warn-wallapp.txt
dist/.apicache
dist/wallhavener
feh-blur-wallpaper/
main.spec
readme.txt
wall-collector.py
wallapp.spec
Wallpapers/wallhaven-13l39v.png
Wallpapers/wallhaven-73lyjy.png
Wallpapers/wallhaven-73xpde.png
Wallpapers/wallhaven-839vgo.png
Wallpapers/wallhaven-9697jd.png
Wallpapers/wallhaven-96e6kk.png
Wallpapers/wallhaven-dgvg2m.png
Wallpapers/wallhaven-g82mmq.png
Wallpapers/wallhaven-g87vl7.png
Wallpapers/wallhaven-g8dl57.png
Wallpapers/wallhaven-j83kw5.png
Wallpapers/wallhaven-lmdvzq.png
Wallpapers/wallhaven-lmgzgr.png
Wallpapers/wallhaven-mdop9k.png
Wallpapers/wallhaven-r2w2pj.png
Wallpapers/wallhaven-wy32w7.png
Wallpapers/wallhaven-ymwmo7.png
